<div class="header">
  <p>Contact Us: +91 9999999999</p>
  <p>Email Us: someone@somesite.com</p>
</div>
<hr>
<div class="navbar">
<a href="/">
    <img src="../../../assets/logo.png" alt="logo" width="200px" height="75px">
</a>
<li><a routerLink="/">Home</a></li>
<li><a routerLink="/about">About Us</a></li>
<li><a routerLink="/services">Services</a></li>
<li><a routerLink="/sample">Sample</a></li>
<li><a routerLink="/pricing">Pricing</a></li>
<li><button class="btn btn-primary"><a routerLink="/quick_upload">Quick Upload</a></button></li>
</div>