

.help{
    /* background-color: aqua; */
    height: 50vh;
    text-align: center;
    
}

.help p {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.box_container{
    /* margin-top: 50px; */
    /* background-color: grey; */
    display: flex;
    width: 1200px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    
}

.boxes {
    /* padding-top: 40px; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 300;
    height: 154; */
    /* margin: auto 10px; */
}
.why_container{
    background-color: #e8e6e6;
    height: 70vh;
    text-align: center;
}

.why_container p{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.tophelp{
    /* background-color: crimson; */
    height: 100vh;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top_help   {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.top_help_item{
    /* background-color: aqua; */
    width: 370px;
    height: 250px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* flex: 0 1 30%; */
    
}
.top_help_item img{
    width: 75px;
    height: 75px;
    
}

.top_help_item span{
    font-size: 20px;
    font-weight:bold;
}
.top_help_item strong{
    font-size: 26px;
}


.premierhelp{
    background-color: #e8e6e6;
    height: 85vh;
}
.content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.bg_img_container{
    /* background-color: bisque; */
    height: 45vh;
}

.bg_img_container img{
    width: 99.1vw;
    height: 45vh;
    object-fit: cover;
}

.quad_container{
    /* background-color: cornflowerblue; */
    width: 1200px;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;

}

.quad_item{
    width: 600px;
    height: 360px;
    /* padding: 0; */
    /* background-color: yellow; */
}

.quad_item img{
    /* margin-left: 10px; */
    width: 580px;
    height: 360px;
}

.our_services{
    background-color: #e8e6e6;
    height: 1200px;
}

.assistance_container{
    background-color: tomato;
    height: 55vh;
}

.select_container{
    background-color: aqua;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.uni_logo_container{
    background-color: darkgray;
    height: 200px;
    z-index: 100;
}

.faq_container{
    background-color: blue;
    height: 100vh;
}