<div class="slider">
    
      <hr style="background-color:black" />  
      <div class="row">  
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
          <div ngxSlickItem *ngFor="let image of images" class="slide">  
            <img src="{{ image.img }}">  
          </div>  
        </ngx-slick-carousel>  
      </div>  
</div>
<div class="help">
<h1>Get Professional Help in Your Assignment</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam vitae animi, corporis illo eveniet nihil dolores est, necessitatibus atque labore, quasi eius exercitationem quo maxime ullam quisquam modi natus?
Vel distinctio eaque quae doloribus saepe ea alias ut, cumque ipsam deleniti est pariatur placeat. Ipsa, accusamus, asperiores aperiam eveniet nisi odit dignissimos ex et reiciendis provident similique incidunt maxime.
Accusantium excepturi necessitatibus voluptate optio beatae nostrum, fugit aliquam voluptates quos cum rerum, tempore suscipit corporis, quidem totam aspernatur deleniti. Eaque magni illum placeat! Expedita sunt ipsam doloremque ratione odit.</p> 
<div class="box_container">
    <div class="boxes">
        
    </div>
</div>
</div>
<div class="why_container">

</div>

<div class="tophelp">

</div>

<div class="premierhelp">

</div>

<div class="bg_img_container">

</div>

<div class="quad_container">

</div>

<div class="our_services">

</div>

<div class="assistance_container">

</div>

<div class="select_container">
    <div class="uni_logo_container">

    </div>
</div>

<div class="faq_container">
    
</div>