.slider{
    
    height: 80vh;
    overflow: hidden;
}
.slick-slider {  
    width: 100%;  
    margin: auto; 
    height: 700px;
    /* background-size:cover; */
    
  }  

.slick-slider img {
  height: 10%;
}