.slider{
    height: 80vh;
    overflow: hidden;
    background: black;
    /* width: 99vw; */
}
.slick-slider {  
    width: 100%;  
    margin: auto; 
    height: 750px;
    /* background-size:cover; */
    
  }  

.slick-slider img {
  height: 10%;
  opacity: 0.4;
  object-fit: cover;
}

.text{
  position: absolute;
  top: 20%;
  text-align: center;
  color: white;
}

.text p{
  margin-left: auto;
  margin-right: auto;
}
