
<div class="slider">
  <div class="row mb-3 qoute_form">
    <form [formGroup]="orderForm" (submit)="sendOrder()">
      <h3>Get Free Quote</h3>
      <div>
      <input formControlName="email" class="form-control" type="email" name="email" id="" placeholder="Enter Email">
      </div>
      <div>
        <select formControlName="type" class="form-control" name="" id="">
          <option value="">Select Assignment Type</option>
          <option value="Assignment">Assignment</option>
          <option value="Case Study">Case Study</option>
          <option value="Business Proposal">Business Proposal</option>
          <option value="Dissertation">Dissertation</option>
          <option value="Essay">Essay</option>
          <option value="Research paper">Research paper</option>
          <option value="Thesis">Thesis</option>
          <option value="PowerPoint Presentation">PowerPoint Presentation</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <div>
        <input formControlName="subject" class="form-control" type="text" name="" id="" placeholder="Enter Subject">
      </div>
      <div>
        <select formControlName="country" class="form-control" name="" id="">
          <option value="">Select Country</option>
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="Andorra">Andorra</option>
          <option value="Angola">Angola</option>
          <option value="Anguilla">Anguilla</option>
          <option value="Antigua &amp;amp; Barbuda">Antigua &amp;amp; Barbuda</option>
          <option value="Argentina">Argentina</option>
          <option value="Armenia">Armenia</option>
          <option value="Aruba">Aruba</option>
          <option value="Australia">Australia</option>
          <option value="Austria">Austria</option>
          <option value="Azerbaijan">Azerbaijan</option>
          <option value="Bahamas">Bahamas</option>
          <option value="Bahrain">Bahrain</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Barbados">Barbados</option>
          <option value="Belarus">Belarus</option>
          <option value="Belgium">Belgium</option>
          <option value="Belize">Belize</option>
          <option value="Benin">Benin</option>
          <option value="Bermuda">Bermuda</option>
          <option value="Bhutan">Bhutan</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Bosnia &amp;amp; Herzegovina">Bosnia &amp;amp; Herzegovina</option>
          <option value="Botswana">Botswana</option>
          <option value="Brazil">Brazil</option>
          <option value="British Virgin Islands">British Virgin Islands</option>
          <option value="Brunei">Brunei</option>
          <option value="Bulgaria">Bulgaria</option>
          <option value="Burkina Faso">Burkina Faso</option>
          <option value="Burundi">Burundi</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Cape Verde">Cape Verde</option>
          <option value="Cayman Islands">Cayman Islands</option>
          <option value="Chad">Chad</option>
          <option value="Chile">Chile</option>
          <option value="China">China</option>
          <option value="Colombia">Colombia</option>
          <option value="Congo">Congo</option>
          <option value="Cook Islands">Cook Islands</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Cote D Ivoire">Cote D Ivoire</option>
          <option value="Croatia">Croatia</option>
           <option value="Cruise Ship">Cruise Ship</option>
          <option value="Cuba">Cuba</option>
          <option value="Cyprus">Cyprus</option>
          <option value="Czech Republic">Czech Republic</option>
          <option value="Denmark">Denmark</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Dominica">Dominica</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Egypt">Egypt</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Equatorial Guinea">Equatorial Guinea</option>
          <option value="Estonia">Estonia</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Falkland Islands">Falkland Islands</option>
          <option value="Faroe Islands">Faroe Islands</option>
          <option value="Fiji">Fiji</option>
          <option value="Finland">Finland</option>
          <option value="France">France</option>
          <option value="French Polynesia">French Polynesia</option>
          <option value="French West Indies">French West Indies</option>
          <option value="Gabon">Gabon</option>
          <option value="Gambia">Gambia</option>
          <option value="Georgia">Georgia</option>
          <option value="Germany">Germany</option>
          <option value="Ghana">Ghana</option>
          <option value="Gibraltar">Gibraltar</option>
          <option value="Greece">Greece</option>
          <option value="Greenland">Greenland</option>
          <option value="Grenada">Grenada</option>
          <option value="Guam">Guam</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Guernsey">Guernsey</option>
          <option value="Guinea">Guinea</option>
          <option value="Guinea Bissau">Guinea Bissau</option>
          <option value="Guyana">Guyana</option>
          <option value="Haiti">Haiti</option>
          <option value="Honduras">Honduras</option>
          <option value="Hong Kong">Hong Kong</option>
          <option value="Hungary">Hungary</option>
          <option value="Iceland">Iceland</option>
          <option value="India">India</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Iran">Iran</option>
           <option value="Iraq">Iraq</option>
          <option value="Ireland">Ireland</option>
          <option value="Isle of Man">Isle of Man</option>
          <option value="Israel">Israel</option>
          <option value="Italy">Italy</option>
          <option value="Jamaica">Jamaica</option>
          <option value="Japan">Japan</option>
          <option value="Jersey">Jersey</option>
          <option value="Jordan">Jordan</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Kenya">Kenya</option>
          <option value="Kuwait">Kuwait</option>
          <option value="Kyrgyz Republic">Kyrgyz Republic</option>
          <option value="Laos">Laos</option>
          <option value="Latvia">Latvia</option>
          <option value="Lebanon">Lebanon</option>
          <option value="Lesotho">Lesotho</option>
          <option value="Liberia">Liberia</option>
          <option value="Libya">Libya</option>
          <option value="Liechtenstein">Liechtenstein</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Macau">Macau</option>
          <option value="Macedonia">Macedonia</option>
          <option value="Madagascar">Madagascar</option>
          <option value="Malawi">Malawi</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Maldives">Maldives</option>
          <option value="Mali">Mali</option>
          <option value="Malta">Malta</option>
          <option value="Mauritania">Mauritania</option>
          <option value="Mauritius">Mauritius</option>
          <option value="Mexico">Mexico</option>
          <option value="Moldova">Moldova</option>
          <option value="Monaco">Monaco</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Montenegro">Montenegro</option>
          <option value="Montserrat">Montserrat</option>
          <option value="Morocco">Morocco</option>
          <option value="Mozambique">Mozambique</option>
          <option value="Namibia">Namibia</option>
          <option value="Nepal">Nepal</option>
          <option value="Netherlands">Netherlands</option>
          <option value="Netherlands Antilles">Netherlands Antilles</option>
          <option value="New Caledonia">New Caledonia</option>
           <option value="New Zealand">New Zealand</option>
          <option value="Nicaragua">Nicaragua</option>
          <option value="Niger">Niger</option>
          <option value="Nigeria">Nigeria</option>
          <option value="Norway">Norway</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Palestine">Palestine</option>
          <option value="Panama">Panama</option>
          <option value="Papua New Guinea">Papua New Guinea</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Peru">Peru</option>
          <option value="Philippines">Philippines</option>
          <option value="Poland">Poland</option>
          <option value="Portugal">Portugal</option>
          <option value="Puerto Rico">Puerto Rico</option>
          <option value="Qatar">Qatar</option>
          <option value="Reunion">Reunion</option>
          <option value="Romania">Romania</option>
          <option value="Russia">Russia</option>
          <option value="Rwanda">Rwanda</option>
          <option value="Saint Pierre &amp;amp; Miquelon">Saint Pierre &amp;amp; Miquelon</option>
          <option value="Samoa">Samoa</option>
          <option value="San Marino">San Marino</option>
          <option value="Satellite">Satellite</option>
          <option value="Saudi Arabia">Saudi Arabia</option>
          <option value="Senegal">Senegal</option>
          <option value="Serbia">Serbia</option>
          <option value="Seychelles">Seychelles</option>
          <option value="Sierra Leone">Sierra Leone</option>
          <option value="Singapore">Singapore</option>
          <option value="Slovakia">Slovakia</option>
          <option value="Slovenia">Slovenia</option>
          <option value="South Africa">South Africa</option>
          <option value="South Korea">South Korea</option>
          <option value="Spain">Spain</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="St Kitts &amp;amp; Nevis">St Kitts &amp;amp; Nevis</option>
          <option value="St Lucia">St Lucia</option>
          <option value="St Vincent">St Vincent</option>
          <option value="St. Lucia">St. Lucia</option>
          <option value="Sudan">Sudan</option>
          <option value="Suriname">Suriname</option>
          <option value="Swaziland">Swaziland</option>
          <option value="Sweden">Sweden</option>
          <option value="Switzerland">Switzerland</option>
          <option value="Syria">Syria</option>
          <option value="Taiwan">Taiwan</option>
          <option value="Tajikistan">Tajikistan</option>
          <option value="Tanzania">Tanzania</option>
          <option value="Thailand">Thailand</option>
          <option value="Timor L'Este">Timor L'Este</option>
          <option value="Togo">Togo</option>
          <option value="Tonga">Tonga</option>
          <option value="Trinidad &amp;amp; Tobago">Trinidad &amp;amp; Tobago</option>
          <option value="Tunisia">Tunisia</option>
          <option value="Turkey">Turkey</option>
          <option value="Turkmenistan">Turkmenistan</option>
          <option value="Turks &amp;amp; Caicos">Turks &amp;amp; Caicos</option>
          <option value="Uganda">Uganda</option>
          <option value="Ukraine">Ukraine</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Uzbekistan">Uzbekistan</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Vietnam">Vietnam</option>
          <option value="Virgin Islands (US)">Virgin Islands (US)</option>
          <option value="Yemen">Yemen</option>
          <option value="Zambia">Zambia</option>
          <option value="Zimbabwe">Zimbabwe</option>
        </select>
      </div>
      <div>
        <select formControlName="wordCount" class="form-control" id="optPages" name="optiopg">
          <option value="">--Select Pages (1 Page = 250 Words )--</option>
          <option value="1">1 page/250 words</option>
          <option value="2">2 page/500 words</option>
          <option value="3">3 pages/750 words</option>
          <option value="4">4 page/1000 words</option>
          <option value="5">5 pages/1250 words</option>
          <option value="6">6 pages/1500 words</option>
          <option value="7">7 page/1750 words</option>
          <option value="8">8 pages/2000 words</option>
          <option value="9">9 pages/2250 words</option>
          <option value="10">10 pages/2500words</option>
          <option value="11">11 pages/2750 words</option>
          <option value="12">12 page/3000 words</option>
          <option value="13">13 pages/3250 words</option>
          <option value="14">14 pages/3500 words</option>
          <option value="15">15 page/3750 words</option>
          <option value="16">16 pages/4000 words</option>
          <option value="17">17 pages/4250 words</option>
          <option value="18">18 page/4500 words</option>
          <option value="19">19pages/4750 words</option>
          <option value="20">20 pages/5000 words</option>
          <option value="25">25 pages/6250 words</option>
          <option value="30">30 page/7500 words</option>
          <option value="45">45pages/11500 words </option>
          <option value="60">60 pages/15000 words</option>
          <option value="75">75 page/18750 words</option>
          <option value="90">90 pages/22500 words</option>
          <option value="105">105pages/26250 words</option>
          <option value="120">120 page/30000 words</option>
          <option value="135">135 pages/33750 words</option>
          <option value="150">150 pages/37500 words</option>
          <option value="175">175 page/43750 words</option>
          <option value="200">200 pages/50000 words</option>
          <option value="250">250 page/62500 words</option>
          </select>
      </div>
      <div>
        <input formControlName="phone" class="form-control" type="number" name="phone" id="" placeholder="Enter Phone Number">
      </div>
      <div>
        <label for="deadline">Deadline *</label>
        <input formControlName="deadline" class="form-control" type="date" name="" id="">
      </div>
      <div>
        <input (change)="selectFile($event)" #inputFile type="file" name="" id="">
      </div>
      <div>
        <button type="submit" [disabled]="!orderForm.valid" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
    <!-- <hr style="background-color:black" />   -->
    <div class="row">  
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
        <div ngxSlickItem *ngFor="let image of images" class="slide">  
          <img src="{{ image.img }}"> 
          <div class="text">
            <h1>{{image.text}}</h1>
            <p>{{image.summary}}</p>
            <div class="iconset">
              <div class="icon">
                <div class="sup">
                  <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                  <p>24x7 Support</p>
                </div>
               <div class="sup">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
                  <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                <p>high quality research</p>
               </div>
                <div class="sup">
                  <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg>
                  <p>35+ Subject Mattter Experts</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>  
      </ngx-slick-carousel>  
    </div> 
     
</div>

