.header{
    /* background-color: blue; */
    display: flex;
    gap: .5rem;
    height: 30px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin-top: 0;
    margin-bottom: 0;
}
.navbar{
    /* background-color: red; */
    height: 100px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    list-style-type:none;
    display: flex;
    margin-bottom: 0;
}

.navbar a {
    font-size: 17px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}